<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Product List </title>
    <!--/*/ <th:block th:include="fragment/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragment/header :: header"></th:block> /*/-->
    <div>
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Update Date</th>
                <th>Last Purchase Date</th>
                <th>Category Id</th>

            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.description}">Descirption</td>
                <td th:text="${product.createdDate}">Created Date</td>
                 <td th:text="${product.updateDate}">Update Date</td>
                <td th:text="${product.lastPurchaseDate}">Last Purchase Date</td>
                <td th:text="${product.categoryId}">Category Id</td>               
            </tr>
        </table>

    </div>
</div>

</body>
</html>